.custom-font{
    font-family: 'Noto Sans KR';
}

.wrapper{
    position: absolute;
    width: 100%;
}

.v-header{
    position: relative;
    height: 40rem;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.v-header h1{
    position: relative;
    font-size: 256px;
}

.v-header h2{
    position: relative;
    font-size: 32px;
}

.do{
    font-size: 64px;
    color: yellow;
}

.main{
    height: 75vh;
    width: auto;
    text-align: center;
}

.main h1{
    font-size: 4rem;
}

.main p{
    font-size: 2rem;
}